{% extends "base/base.html" %}
{% load static %}
{% block title %}Is it Depression/Anxiety - Time to Change{% endblock %}
<!DOCTYPE html>
<html lang="en">
  {% block body %}
  <body>

    <div class="hero-wrap" style="background-image: url('static/images/depanx(2).jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html"></a></span> <span>Is it depression/anxiety</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Does it feel like life’s getting harder?</h1>
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-counter ftco-intro" id="section-counter">
      <div class="container">
          <div class="row no-gutters">
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 color-3 align-items-stretch">
            <div class="text">
                <h3 class="mb-4">Have you noticed that you’ve been feeling down or worried, and that getting through each day is a real struggle?</h3>
            </div>
          </div>
        </div>
          </div>
      </div>
  </section>



    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url(static/images/About_Sub.jpg); width: 100%;"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 ftco-animate">
    				<h2 class="mb-4" >Your thoughts and feelings affect everything you do</h2>
    				<p style="text-align: justify; text-justify: inter-word; font-size: 16px">Not feeling right can cause you to think and act differently and this can affect all aspects of your life, sometimes in the most unexpected ways.</p>
            <hr style="color: black">
    				<p style="text-align: justify; text-justify: inter-word;">When something’s ‘not right’ you could experience it in different ways. You might get sick (māuiui) or just feel generally run-down. You may feel like you’re not your usual self - you don’t want to be around anyone when usually you love company. You may cry a lot for no apparent reason or easily lose your temper, or even wonder what your life is all about.  </p><br>
            
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-counter ftco-intro ftco-intro-2" id="section-counter">
    	<div class="container">
    		<div class="row no-gutters">
    		
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-2 align-items-stretch">
             
              <img src="static/images/About_Left-01.jpg" width="500" height="500">
              <br><hr><p style="text-align: justify; text-justify: inter-word;">Getting an overall picture of yourself helps to make sense of what’s happening in your life, and what can help you feel better. One way to do that is to think about what’s happening in different aspects of your life – your body (tinana), your spirit (wairua), your social circle (whānau) and your mind (hinengaro).</p>
              <p style="text-align: justify; text-justify: inter-word;">
                <li>Physical: Thinking about your tinana means focusing on how you look after and care for your body</li></p>
                <p style="text-align: justify; text-justify: inter-word;"><li>Mental (Hinengaro): Thinking about hinengaro means focusing on emotions and how you communicate, think and feel.</li></p>
                <p style="text-align: justify; text-justify: inter-word;"><li>Social (Whānau): Thinking about whānau means focusing on the relationships you have with people who support (tautoko) you. Their support might be physical, cultural or emotional.</li></p>
                <p style="text-align: justify; text-justify: inter-word;"><li>Spiritual (Wairua): Thinking about wairua means focusing on things that give your life meaning. That might mean your religion. It could also mean thinking  about your links with the environment , your heritage, and your connections to ancestors (tipuna).</li></p>
              </div>
            
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-3 align-items-stretch">
              <div class="text">
              	<h3 class="mb-4">Is this depression or anxiety?</h3>
              	<p style="text-align: justify; text-justify: inter-word; font-size: 16px;">Everybody goes through times of fear, worry and sadness (pōuritanga). But when those negative emotions are so intense that it feels you’re no longer in control of them, we could call it distress.</p>
              	<hr>
                <p style="text-align: justify; text-justify: inter-word;">Distress can include a huge range of negative feelings. Everyone’s experience is unique and personal to them.</p>
                <p style="text-align: justify; text-justify: inter-word;">If the main problem is feeling down and miserable, or that there is no interest or pleasure in things, we call it depression. If the main problem is having times of panic, or always being on edge and worrying, we call it anxiety. It’s quite common to experience a bit of both.</p>
                <p style="text-align: justify; text-justify: inter-word;">Whether you call it distress, depression, or anxiety, it doesn’t matter. What matters is that you understand what’s happening, and know what you can do to feel better.</p>
                <b><p><b>How common is it?*</b><p></b>
                  <p style="text-align: justify; text-justify: inter-word;">If you’re experiencing distress you’re certainly not alone.</p>
                  <p style="text-align: justify; text-justify: inter-word;">At some point in their life many people will go through it too: 
                    <li>1 in 7 will experience depression before they are 24 years old
                      <li>1 in 8 men will experience depression 
                        <li>1 in 5 women will experience depression
                          <li>1 in 4 New Zealanders will experience anxiety
                            <li>1 in 5 people with depression or anxiety will experience both at the same time 
                  </p>

                <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18 color-2 align-items-stretch">
                    <div class="text">
                        <h3 class="mb-4">What Next?</h3>
                        <p>Think about all aspects of your life to spot the signs and symptoms of distress. You can look for any changes in what you’ve been doing lately or the way you’ve been feeling or thinking.</p>
                        <p><a href="{% url 'causespage' %}" class="btn btn-white px-3 py-2 mt-2">LEARN THE SYMPTOMS</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </section>

<br>



    
    
		

    
    
  

  <!-- loader
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->



    
  </body>
  {% endblock %}
</html>