{% extends "base/base.html" %}
{% load static %}
{% block title %}Help Someone - Time to Change{% endblock %}
<!DOCTYPE html>
<html lang="en">
  {% block body %}
  <body>

    <div class="hero-wrap" style="background-image: url('static/images/hs_bg.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html"></a></span> <span>Help others going through Depression and Anxiety</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Want to help, but not sure what to do?</h1>
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-counter ftco-intro" id="section-counter">
      <div class="container">
          <div class="row no-gutters">
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
          <div class="block-18 color-3 align-items-stretch">
            <div class="text">
                <h3 class="mb-4">Often it’s easy to tell when someone isn’t their usual self, but it’s a lot harder to know what to do to help. Don’t be afraid to start the conversation. There are many things you can do to make a difference.</h3>
                 
              </div>
          </div>
        </div>
          </div>
      </div>
  </section>


  <section class="ftco-section">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 d-flex ftco-animate">
          <div class="img img-about align-self-stretch" style="background-image: url(static/images/About_Sub.jpg); width: 100%;"></div>
        </div>
        <div class="col-md-6 pl-md-5 ftco-animate">
          <h2 class="mb-4" >How you can help</h2>
          
          <p style="text-align: justify; text-justify: inter-word;">It might seem small, but just doing things together, being there and staying connected can be a big help.</p>
          <hr>
          <p style="text-align: justify; text-justify: inter-word;">Depression and anxiety are so common that it’s highly likely that at some point you’ll know someone who might be experiencing it. It might be someone in your whānau, a team-mate or someone from your community. People with depression and anxiety are more likely to get through with help and support (tautoko) than on their own.</p>
          <p style="text-align: justify; text-justify: inter-word;">Often when people are feeling bad they don’t want to go out and do anything. Everything feels just too hard. So encouraging them to do something with you is a great support. It could be something small like watching funny video clips, listening to music, going for a walk or window-shopping. Think about something you both like to do.</p>
          <p>There are different things you can do, depending on who you’re trying to help:

            <li>Whānau and family
            <li>Friend
            <li>Team-mate
            <li>Work-mate
            <li>Someone in your faith </p>
        </div>
      </div>
    </div>
  </section>


  <section class="ftco-counter ftco-intro ftco-intro-2" id="section-counter">
    <div class="container">
        <div class="row no-gutters">
        
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-2 align-items-stretch">
         
          <img src="static/images/About_Left-01.jpg" width="500" height="500"><br><br>
          <h3 class="mb-4">Looking after yourself</h3>
          <p style="text-align: justify; text-justify: inter-word;">If you are the main support person for someone going through depression or anxiety it can be rewarding, but it is challenging too. It could take a while for them to get through it, which is why it’s really important to look after yourself.</p><hr>
          <p style="text-align: justify; text-justify: inter-word;">It’s really important to make sure you have support (tautoko) for yourself when you are supporting someone else, as it can take a lot out of you.  Talking to others who are in a similar situation may be helpful. You need to care for your own wellbeing as well as the person you are caring for, and feel OK about this.  Make time and space to look after yourself. Make sure you find opportunities to relax, have fun and take a break when you need it.  Talking to others who are in a similar situation may be helpful. Think about contacting a support network.  Exercise and sleep are also critical.</p>
          <b><p style="text-align: justify; text-justify: inter-word;">Ask yourself:</p></b>
          <p style="text-align: justify; text-justify: inter-word;"><li>Do I have someone I trust to talk to?
            <li>Do I get enough breaks?
            <li>Have I got regular times for relaxation?
            <li>Am I getting regular exercise?
            <li>Am I eating nutritious meals (kai)?
            <li>Do I get enough sleep?</li></p>
          
          </div>
        
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
        <div class="block-18 color-3 align-items-stretch">
          <div class="text">
              <h3 class="mb-4">Starting the conversation</h3>
              <p style="text-align: justify; text-justify: inter-word; font-size: 16px;">It can be tricky to bring it up, but if you’re worried about saying the wrong thing, don’t be. The best way to start is to just ask them if they’re okay.</p>
              <hr>
            <p style="text-align: justify; text-justify: inter-word;">If you think someone might be dealing with depression or anxiety, you might avoid them because you don’t know what to do or say, or maybe you don’t really understand what it’s all about. This can make it harder for them to get through it. To make it go better, for both of you, here are a few tips:</p>
            
                <p style="text-align: justify; text-justify: inter-word;"><li>pick a place that’s quiet and private
<li>give yourself plenty of time
<li>listen, more than talk. Really listen closely to understand how they’re feeling
<li>save your advice for later
<li>show you’re really listening
<li>sit face-to-face so they can see your reactions
<li>listening isn’t the same thing as agreeing. You can understand another person’s point of view without agreeing with it.
<li>try to ask open-ended questions like; “How are you feeling?” or “Why do you think that?”
<li>offer reassurance and hope. Say things like "Thank you for telling me this", "There is a way through this", "I am here for you". </p>
                





                <li>1 in 7 will experience depression before they are 24 years old
                  <li>1 in 8 men will experience depression 
                    <li>1 in 5 women will experience depression
                      <li>1 in 4 New Zealanders will experience anxiety
                        <li>1 in 5 people with depression or anxiety will experience both at the same time 
              </p>

            <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18 color-2 align-items-stretch">
                <div class="text">
                    <h3 class="mb-4">What Next?</h3>
                    <p>By learning more about depression and anxiety, how it is treated, and what can help, you’ll have a better understanding of what you can do to help their recovery.</p>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
    </div>
</section><br>

  




  


  

  
        

  <!-- loader
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->
    
  </body>
  {% endblock %}
</html>