{% extends "base/base.html" %}
{% load static %}
{% block title %}Professional Help - Time to Change{% endblock %}
<!DOCTYPE html>
<html lang="en">
  {% block body %}
  <body>

    <div class="hero-wrap" style="background-image: url('static/images/bg_tests.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
             <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html"></a></span> <span>Get Professional Help</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Asking for help is a sign of strength</h1>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    


    <section class="ftco-counter ftco-intro" id="section-counter">
        <div class="container">
            <div class="row no-gutters">
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-3 align-items-stretch">
              <div class="text">
                  <h3 class="mb-4">It can be tough dealing with the way you feel, so it’s a good idea to call in someone to help. There are different kinds of mental health professionals. Each kind takes a different approach. You’ll want to think about which one feels right for you.</h3>
              </div>
            </div>
          </div>
            </div>
        </div>
    </section>





    <section class="ftco-section bg-light">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Need to Talk?</h2>
            <p>Get connected to professionals available at time to change about how you are feeling or to ask a question.</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
        		<div class="staff">
        			<div class="d-flex mb-4">
        				<div class="img" style="background-image: url(static/images/person_1.jpg);"></div>
        				<div class="info ml-4">
        					<h3><a href="teacher-single.html">Dr. Hammad Firdous</a></h3>
        					<span class="position">Anesthesiologist, Psychologist</span>
        					<div class="text">
		        				<p><span>13 Years</span> Experience <br><a href="https://oladoc.com/pakistan/rawalpindi/dr/anesthesiologist/hammad-firdous/1319878">Online Video Consultation</a></p>
		        			</div>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
        		<div class="staff">
        			<div class="d-flex mb-4">
        				<div class="img" style="background-image: url(static/images/Doc_2.jpg);"></div>
        				<div class="info ml-4">
        					<h3><a href="teacher-single.html">Ms. Maryam Javed Abbasi</a></h3>
        					<span class="position">Psychologist - Clinical Psychology</span>
        					<div class="text">
		        				<p> <span>5 Years</span> Experience <a href="https://oladoc.com/pakistan/rawalpindi/dr/psychologist/maryam-javed-abbasi/1616964">Online Video Consultation</a></p>
		        			</div>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="col-lg-4 d-flex mb-sm-4 ftco-animate">
        		<div class="staff">
        			<div class="d-flex mb-4">
        				<div class="img" style="background-image: url(static/images/Doc_1.jpg);"></div>
        				<div class="info ml-4">
        					<h3><a href="teacher-single.html">Ms. Shamsa Mukhtar</a></h3>
        					<span class="position">Psychologist, Counselor - ADCP</span>
        					<div class="text">
		        				<p><span>3 Years</span> Experience <a href="https://oladoc.com/pakistan/rawalpindi/dr/psychologist/shamsa-mukhtar/1323191">Online Video Consultation</a></p>
		        			</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
      </div>
    </section>
		

    
    
  

  <!-- loader
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->



    
  </body>
  {% endblock %}
</html>