{% extends "base/base.html" %}

{% load static %}
{% block title %}Anxiety Test - Time to Change{% endblock %}


{% block body %}
<body style="background-image: url('{% static "images/bg_index.jpg" %}'); background-size: cover; background-position: center center; background-attachment: fixed;">
  <section class="section">
    <div class="container" style="width: 60%; margin: 6rem auto 6rem auto; box-shadow: 0 0.2rem 1.3rem 0.2rem rgba(0, 0, 0, 0.1); border-radius: 0.5rem; background-color: #fff; " >
    <div class="header" style="padding: 4.5rem; margin-bottom: 2rem;">
  <input  type="hidden" id="Url" data-url="{% url 'mainscreen' %}" />
  <div class="loader" id="loader"></div> 
  <div class="quiz-container" id="quiz">
    <div class="quiz-header">
      <h3 id="question">Login</h3><br>
      {% if messages %}
      <div class="alert alert-info">
        {% for message in messages %}
          <span>{{ message }}</span>
        {% endfor %}
      </div>
    {% endif %}
      <form action="" method="POST">
        {% csrf_token %}
      <label for="a" id="a_text" style="color: black;">OTP:</label>
      <input type="text" name="otp" id="a" class="answer"><br>
        
        
      <label for="d" id="d_text" style="color: black;">New Password:</label>
      <input type="password" name="password" id="d" class="answer"><br>

      <label for="d" id="d_text" style="color: black;">Confirm New Password:</label>
      <input type="password" name="password2" id="d" class="answer"><br>
      <br>  

      <center>
        <input type="submit" id="submit" style="  
        align: center;
        display: inline-block;
        padding-right: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        
        padding-left: 1.5rem;
        background: #fd7e14;
        border-radius: 10px;
        
        cursor: pointer;
        border: none;">
        </center>
      </form>
      
      
    
      
    </div>
   
  </div>
</div>
</div>
</section>
</body>
{% endblock %}
